@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-surface-card: #18181b;
  --color-surface-ground: #09090b;
}

/*:root {*/
/*  --ui-bg: #f5f0f9;*/
/*}*/

.dark {
  --ui-bg: oklch(14.7% 0.004 49.25);
}
